/* Ajoutez des styles spécifiques pour la page d'inscription ici */

#connexion-form {
    margin-top: 20px;
    text-align: center;
}

#connexion-form label {
    display: block;
    margin-bottom: 10px;
}

#connexion-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

#connexion-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#connexion-form button:hover {
    background-color: #0056b3;
}
