/* Ajoutez des styles spécifiques pour la page de statistiques ici */

.form-section, .stats-section {
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
}

form input {
    width: 93.3%;
    padding: 8px;
    margin-bottom: 20px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

#stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kills-bar, .deaths-bar {
    width: 100%;
    margin-bottom: 20px;
}

.kills-bar progress, .deaths-bar progress {
    width: 100%;
}

/* Mise en page en colonnes pour le formulaire */
form .column {
    width: 47.137%; /* Ajustez la largeur des colonnes selon vos besoins */
    display: inline-block;
    vertical-align: top;
    margin-right: 5%; /* Ajoute une marge entre les colonnes */
}

form .column:last-of-type {
    margin-right: 0; /* Supprime la marge à droite de la dernière colonne */
}

/* Ajoute des bordures à toutes les cellules du tableau */
#stats-table td {
    border: 1px solid #ddd; /* Couleur et épaisseur de la bordure */
    padding: 8px; /* Espace à l'intérieur de chaque cellule */
}

/* Style pour les cellules de l'en-tête du tableau */
#stats-table th {
    border: 1px solid #ddd;
    padding: 8px;
    background-color: #f2f2f2; /* Couleur de fond */
    font-weight: bold; /* Texte en gras */
}