/* Ajoutez des styles spécifiques pour la page de statistiques ici */

.form-section, .stats-section {
    margin-bottom: 30px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form select {
    width: 40%;
    padding: 8px;
    margin-bottom: 20px;
}

form input {
    width: 97.3%;
    padding: 8px;
    margin-bottom: 20px;
}

form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

#stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kills-bar, .deaths-bar {
    width: 100%;
    margin-bottom: 20px;
}

.kills-bar progress, .deaths-bar progress {
    width: 100%;
}
